$cm-screen-max: 1200px;
$cm-screen-sm-min: 769px;
$cm-screen-lg-min: $cm-screen-max;

// Margins
$cm-margin-1: 4px;
$cm-margin-2:	8px;
$cm-margin-3:	12px;
$cm-margin-4:	16px;
$cm-margin-5:	24px;
$cm-margin-6:	32px;
$cm-margin-7:	48px;
$cm-margin-8:	72px;
$cm-margin-9:	96px;
