<div id="actuators">
<h2>Actuator URLs</h2>

<table>
  <thead>
  <tr>
    <th>Service</th>
    <th>Actuator Shortcuts</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40181/actuator" data-cm-test="">Content Management Server</a></td>
    <td>
      <a href="/content-management-server/info" target="_blank">Info</a> ·
      <a href="/content-management-server/logfile" target="_blank">Logfile</a> ·
      <a href="/content-management-server/env" target="_blank">Environment</a> ·
      <a href="/content-management-server/configprops" target="_blank">Config</a> ·
      <a href="/content-management-server/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40281/actuator" data-cm-test="">Master Live Server</a></td>
    <td>
      <a href="/master-live-server/info" target="_blank">Info</a> ·
      <a href="/master-live-server/logfile" target="_blank">Logfile</a> ·
      <a href="/master-live-server/env" target="_blank">Environment</a> ·
      <a href="/master-live-server/configprops" target="_blank">Config</a> ·
      <a href="/master-live-server/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40381/actuator" data-cm-test="">Workflow Server</a></td>
    <td>
      <a href="/workflow-server/info" target="_blank">Info</a> ·
      <a href="/workflow-server/logfile" target="_blank">Logfile</a> ·
      <a href="/workflow-server/env" target="_blank">Environment</a> ·
      <a href="/workflow-server/configprops" target="_blank">Config</a> ·
      <a href="/workflow-server/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40481/actuator" data-cm-test="">Content Feeder</a></td>
    <td>
      <a href="/content-feeder/info" target="_blank">Info</a> ·
      <a href="/content-feeder/logfile" target="_blank">Logfile</a> ·
      <a href="/content-feeder/env" target="_blank">Environment</a> ·
      <a href="/content-feeder/configprops" target="_blank">Config</a> ·
      <a href="/content-feeder/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ if eq (getv "/user/changes/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40581/actuator" data-cm-test="">User Changes</a></td>
    <td>
      <a href="/user-changes/info" target="_blank">Info</a> ·
      <a href="/user-changes/logfile" target="_blank">Logfile</a> ·
      <a href="/user-changes/env" target="_blank">Environment</a> ·
      <a href="/user-changes/configprops" target="_blank">Config</a> ·
      <a href="/user-changes/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ end }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40681/actuator" data-cm-test="">Elastic Worker</a></td>
    <td>
      <a href="/elastic-worker/info" target="_blank">Info</a> ·
      <a href="/elastic-worker/logfile" target="_blank">Logfile</a> ·
      <a href="/elastic-worker/env" target="_blank">Environment</a> ·
      <a href="/elastic-worker/configprops" target="_blank">Config</a> ·
      <a href="/elastic-worker/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40781/actuator" data-cm-test="">CAE Feeder Preview</a></td>
    <td>
      <a href="/cae-feeder-preview/info" target="_blank">Info</a> ·
      <a href="/cae-feeder-preview/logfile" target="_blank">Logfile</a> ·
      <a href="/cae-feeder-preview/env" target="_blank">Environment</a> ·
      <a href="/cae-feeder-preview/configprops" target="_blank">Config</a> ·
      <a href="/cae-feeder-preview/health" target="_blank" class="health_check">Health</a>
    </td>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40881/actuator" data-cm-test="">CAE Feeder Live</a></td>
    <td>
      <a href="/cae-feeder-live/info" target="_blank">Info</a> ·
      <a href="/cae-feeder-live/logfile" target="_blank">Logfile</a> ·
      <a href="/cae-feeder-live/env" target="_blank">Environment</a> ·
      <a href="/cae-feeder-live/configprops" target="_blank">Config</a> ·
      <a href="/cae-feeder-live/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:40981/actuator" data-cm-test="">CAE Preview</a></td>
    <td>
      <a href="/cae-preview/info" target="_blank">Info</a> ·
      <a href="/cae-preview/logfile" target="_blank">Logfile</a> ·
      <a href="/cae-preview/env" target="_blank">Environment</a> ·
      <a href="/cae-preview/configprops" target="_blank">Config</a> ·
      <a href="/cae-preview/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:41081/actuator" data-cm-test="">Studio Server</a></td>
    <td>
      <a href="/studio-server/info" target="_blank">Info</a> ·
      <a href="/studio-server/logfile" target="_blank">Logfile</a> ·
      <a href="/studio-server/env" target="_blank">Environment</a> ·
      <a href="/studio-server/configprops" target="_blank">Config</a> ·
      <a href="/studio-server/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>

  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:42181/actuator" data-cm-test="">CAE Live</a></td>
    <td>
      <a href="/cae-live/info" target="_blank">Info</a> ·
      <a href="/cae-live/logfile" target="_blank">Logfile</a> ·
      <a href="/cae-live/env" target="_blank">Environment</a> ·
      <a href="/cae-live/configprops" target="_blank">Config</a> ·
      <a href="/cae-live/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:41181/actuator" data-cm-test="">Headless Server Preview</a></td>
    <td>
      <a href="/headless-server-preview/info" target="_blank">Info</a> ·
      <a href="/headless-server-preview/logfile" target="_blank">Logfile</a> ·
      <a href="/headless-server-preview/env" target="_blank">Environment</a> ·
      <a href="/headless-server-preview/configprops" target="_blank">Config</a> ·
      <a href="/headless-server-preview/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:41281/actuator" data-cm-test="">Headless Server Live</a></td>
    <td>
      <a href="/headless-server-live/info" target="_blank">Info</a> ·
      <a href="/headless-server-live/logfile" target="_blank">Logfile</a> ·
      <a href="/headless-server-live/env" target="_blank">Environment</a> ·
      <a href="/headless-server-live/configprops" target="_blank">Config</a> ·
      <a href="/headless-server-live/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:43181/actuator" data-cm-test="">Headless Commerce</a></td>
    <td>
      <a href="/headless-server-commerce/info" target="_blank">Info</a> ·
      <a href="/headless-server-commerce/logfile" target="_blank">Logfile</a> ·
      <a href="/headless-server-commerce/env" target="_blank">Environment</a> ·
      <a href="/headless-server-commerce/configprops" target="_blank">Config</a> ·
      <a href="/headless-server-commerce/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:4180/actuator/info" data-cm-test="">Headless Stitching Preview</a></td>
    <td>
      <a href="/headless-server-stitching-preview/info" target="_blank">Info</a> ·
      <a href="/headless-server-stitching-preview/logfile" target="_blank">Logfile</a> ·
      <a href="/headless-server-stitching-preview/env" target="_blank">Environment</a> ·
      <a href="/headless-server-stitching-preview/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:4280/actuator/info" data-cm-test="">Headless Stitching Live</a></td>
    <td>
      <a href="/headless-server-stitching-live/info" target="_blank">Info</a> ·
      <a href="/headless-server-stitching-live/logfile" target="_blank">Logfile</a> ·
      <a href="/headless-server-stitching-preview/env" target="_blank">Environment</a> ·
      <a href="/headless-server-stitching-live/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ end }}

  {{ if eq (getv "/commerce/mock/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:44081/actuator" data-cm-test="">Commerce Adapter Mock</a></td>
    <td>
      <a href="/commerce-adapter-mock/info" target="_blank">Info</a> ·
      <a href="/commerce-adapter-mock/logfile" target="_blank">Logfile</a> ·
      <a href="/commerce-adapter-mock/env" target="_blank">Environment</a> ·
      <a href="/commerce-adapter-mock/configprops" target="_blank">Config</a> ·
      <a href="/commerce-adapter-mock/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{end}}

  {{ if eq (getv "/commerce/sfcc/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:44181/actuator" data-cm-test="">Commerce Adapter Salesforce Commerce Cloud</a></td>
    <td>
      <a href="/commerce-adapter-sfcc/info" target="_blank">Info</a> ·
      <a href="/commerce-adapter-sfcc/logfile" target="_blank">Logfile</a> ·
      <a href="/commerce-adapter-sfcc/env" target="_blank">Environment</a> ·
      <a href="/commerce-adapter-sfcc/configprops" target="_blank">Config</a> ·
      <a href="/commerce-adapter-sfcc/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ end }}

  {{ if eq (getv "/commerce/hybris/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:44281/actuator" data-cm-test="">Commerce Adapter SAP Commerce Cloud</a></td>
    <td>
      <a href="/commerce-adapter-hybris/info" target="_blank">Info</a> ·
      <a href="/commerce-adapter-hybris/logfile" target="_blank">Logfile</a> ·
      <a href="/commerce-adapter-hybris/env" target="_blank">Environment</a> ·
      <a href="/commerce-adapter-hybris/configprops" target="_blank">Config</a> ·
      <a href="/commerce-adapter-hybris/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ end }}

  {{ if eq (getv "/commerce/wcs/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:44381/actuator" data-cm-test="">Commerce Adapter HCL Commerce</a></td>
    <td>
      <a href="/commerce-adapter-wcs/info" target="_blank">Info</a> ·
      <a href="/commerce-adapter-wcs/logfile" target="_blank">Logfile</a> ·
      <a href="/commerce-adapter-wcs/env" target="_blank">Environment</a> ·
      <a href="/commerce-adapter-wcs/configprops" target="_blank">Config</a> ·
      <a href="/commerce-adapter-wcs/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ end }}

  {{ if eq (getv "/commerce/commercetools/enabled" "true") "true" }}
  <tr>
    <td><a href="http://{{ getv "/environment/fqdn" }}:44481/actuator" data-cm-test="">Commerce Adapter Commercetools</a></td>
    <td>
      <a href="/commerce-adapter-commercetools/info" target="_blank">Info</a> ·
      <a href="/commerce-adapter-commercetools/logfile" target="_blank">Logfile</a> ·
      <a href="/commerce-adapter-commercetools/env" target="_blank">Environment</a> ·
      <a href="/commerce-adapter-commercetools/configprops" target="_blank">Config</a> ·
      <a href="/commerce-adapter-commercetools/health" target="_blank" class="health_check">Health</a>
    </td>
    <td>
      <span class="check_unknown">Unknown</span>
    </td>
  </tr>
  {{ end }}

  </tbody>
</table>
</div>
