<div>
  <h2>Management Interfaces</h2>
  <ul>
      <li><a href="https://studio.{{ getv "/environment/fqdn" }}" target="_blank" data-cm-test="">CoreMedia Studio</a></li>
      <li><a href="https://site-manager.{{ getv "/environment/fqdn" }}/site-manager.zip" target="_blank">CoreMedia Sitemanager (unconfigured zipped client)</a></li>
      <li><a href="https://monitor.{{ getv "/environment/fqdn" }}" target="_blank" data-cm-test="">Traefik UI</a></li>
      <li><a href="http://{{ getv "/environment/fqdn" }}:40080/solr" target="_blank" data-cm-test="">Solr Admin</a></li>
  </ul>
</div>
