<div id="sites">
<h2>Demo Sites</h2>
<table class="sites">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Preview</th>
    <th>Live</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}3{{ else }}2{{ end }}">Chef Corp.</td>
    <td>Web</td>
    <td>
      <a href="https://preview.{{ getv "/environment/fqdn" }}/corporate" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://preview.{{ getv "/environment/fqdn" }}/corporate-de-de" target="_blank" data-cm-test="cae">German</a>
    </td>
    <td>
      <a href="https://corporate.{{ getv "/environment/fqdn" }}" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://corporate-de.{{ getv "/environment/fqdn" }}" target="_blank" data-cm-test="cae">German</a>
    </td>
  </tr>
  <tr>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/corporate/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/corporate-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/corporate/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/corporate-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/corporate" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/corporate-de-de" target="_blank" data-cm-test="">German</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/corporate" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/corporate-de-de" target="_blank" data-cm-test="">German</a>
    </td>
  </tr>
  </tr>
  {{end}}
  </tbody>
</table>

{{ if eq (getv "/commerce/wcs/enabled" "true") "true" }}
<h3>HCL Commerce</h3>
<table class="sites">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Preview</th>
    <th>Live</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}3{{ else }}2{{ end }}">Aurora</td>
    <td>Web</td>
    <td>
      <a href="https://shop-preview-production-ibm.{{ getv "/environment/fqdn" }}/wcs/shop/en/auroraesite" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-preview-production-ibm.{{ getv "/environment/fqdn" }}/wcs/shop/de/auroraesite" target="_blank" data-cm-test="cae">German</a>
    </td>
    <td>
      <a href="https://shop-ibm.{{ getv "/environment/fqdn" }}/wcs/shop/en/auroraesite" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-ibm.{{ getv "/environment/fqdn" }}/wcs/shop/de/auroraesite" target="_blank" data-cm-test="cae">German</a>
    </td>
  </tr>
  <tr>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/aurora/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/aurora-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/aurora/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/aurora-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/aurora" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/aurora-de-de" target="_blank" data-cm-test="">German</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/aurora" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/aurora-de-de" target="_blank" data-cm-test="">German</a>
    </td>
  </tr>
  </tr>
  {{end}}
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}3{{ else }}2{{ end }}">Calista</td>
    <td>Web</td>
    <td>
      <a href="https://preview.{{ getv "/environment/fqdn" }}/calista" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://preview.{{ getv "/environment/fqdn" }}/calista-de-de" target="_blank" data-cm-test="cae">German</a>
    </td>
    <td>
      <a href="https://calista.{{ getv "/environment/fqdn" }}/calista" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://calista.{{ getv "/environment/fqdn" }}/calista-de-de" target="_blank" data-cm-test="cae">German</a>
    </td>
  </tr>
  <tr>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/calista/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/calista-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/calista/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/calista-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/calista" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/calista-de-de" target="_blank" data-cm-test="">German</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/calista" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/calista-de-de" target="_blank" data-cm-test="">German</a>
    </td>
  </tr>
  {{end}}
  </tbody>
</table>
{{ end }}

{{ if eq (getv "/commerce/hybris/enabled" "true") "true" }}
<h3>SAP Commerce Cloud</h3>
<table class="sites">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Preview</th>
    <th>Live</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}3{{ else }}2{{ end }}">Apparel</td>
    <td>Web</td>
    <td>
      <a href="https://shop-preview-hybris.{{ getv "/environment/fqdn" }}/yacceleratorstorefront/?site=apparel-uk&clear=true" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-preview-hybris.{{ getv "/environment/fqdn" }}/yacceleratorstorefront/?site=apparel-de&clear=true" target="_blank" data-cm-test="cae">German</a>
    </td>
    <td>
      <a href="https://shop-hybris.{{ getv "/environment/fqdn" }}/yacceleratorstorefront/?site=apparel-uk&clear=true" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-hybris.{{ getv "/environment/fqdn" }}/yacceleratorstorefront/?site=apparel-de&clear=true" target="_blank" data-cm-test="cae">German</a>
    </td>
  </tr>
  <tr>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/apparelhomepage/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/apparelhomepage-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/apparelhomepage/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/apparelhomepage-de-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/apparelhomepage" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/apparelhomepage-de-de" target="_blank" data-cm-test="">German</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/apparelhomepage" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/apparelhomepage-de-de" target="_blank" data-cm-test="">German</a>
    </td>
  </tr>
  </tr>
  {{end}}
  </tbody>
</table>
{{ end }}

{{ if eq (getv "/commerce/sfcc/enabled" "true") "true" }}
<h3>Salesforce Commerce Cloud</h3>
<table class="sites">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Preview</th>
    <th>Live</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}3{{ else }}2{{ end }}">Storefront Reference Architecture</td>
    <td>Web</td>
    <td>
      <a href="https://shop-preview-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-RefArchGlobal-Site/en_GB?preview=true" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-preview-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-RefArchGlobal-Site/fr_FR?preview=true" target="_blank" data-cm-test="cae">French</a>
    </td>
    <td>
      <a href="https://shop-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-RefArchGlobal-Site/en_GB" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-RefArchGlobal-Site/fr_FR" target="_blank" data-cm-test="cae">French</a>
    </td>
  </tr>
  <tr>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/sfra-en-gb/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/sfra-en-gb-fr-fr/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">French</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/sfra-en-gb/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/sfra-en-gb-fr-fr/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">French</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/sfra-en-gb" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/sfra-en-gb-fr-fr" target="_blank" data-cm-test="">French</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/sfra-en-gb" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/sfra-en-gb-fr-fr" target="_blank" data-cm-test="">French</a>
    </td>
  </tr>
  </tr>
  {{end}}
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}3{{ else }}2{{ end }}">SiteGenesis</td>
    <td>Web</td>
    <td>
      <a href="https://shop-preview-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-SiteGenesisGlobal-Site/en_GB?preview=true" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-preview-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-SiteGenesisGlobal-Site/fr_FR?preview=true" target="_blank" data-cm-test="cae">French</a>
    </td>
    <td>
      <a href="https://shop-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-SiteGenesisGlobal-Site/en_GB" target="_blank" data-cm-test="cae">English</a> ·
      <a href="https://shop-sfcc.{{ getv "/environment/fqdn" }}/on/demandware.store/Sites-SiteGenesisGlobal-Site/fr_FR" target="_blank" data-cm-test="cae">French</a>
    </td>
  </tr>
  <tr>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb-fr-fr/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">French</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb-fr-fr/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">French</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb-fr-fr" target="_blank" data-cm-test="">French</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/sitegenesis-en-gb-fr-fr" target="_blank" data-cm-test="">French</a>
    </td>
  </tr>
  </tr>
  {{end}}
  </tbody>
</table>
{{ end }}

{{ if eq (getv "/commerce/commercetools/enabled" "true") "true" }}
<h3>Commercetools</h3>
<table class="sites">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Preview</th>
    <th>Live</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="{{ if eq (getv "/headless/client/enabled" "true") "true" }}2{{ else }}1{{ end }}">Commercetools Sunrise</td>
    <td>GraphQL</td>
    <td>
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/commercetools-en-us/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-preview.{{ getv "/environment/fqdn" }}/commercetools-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
    <td>
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/commercetools-en-us/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">English</a> ·
      <a href="https://headless-server-live.{{ getv "/environment/fqdn" }}/commercetools-de/graphql?query=%7Bcontent%20%7Bsites%20%7Bname%20id%7D%7D%7D" target="_blank" data-cm-test="headless">German</a>
    </td>
  </tr>
  {{ if eq (getv "/headless/client/enabled" "true") "true" }}
  <tr>
    <td>Spark App</td>
    <td>
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/commercetools-en-us" target="_blank" data-cm-test="">English</a> ·
      <a href="https://headless-client-preview.{{ getv "/environment/fqdn" }}/commercetools-de" target="_blank" data-cm-test="">German</a>
    </td>
    <td>
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/commercetools-en-us" target="_blank" data-cm-test="">English</a> ·
       <a href="https://headless-client-live.{{ getv "/environment/fqdn" }}/commercetools-de" target="_blank" data-cm-test="">German</a>
    </td>
  </tr>
  {{end}}
  </tbody>
</table>
{{ end }}
</div>
