sql.store.driver    = {{ getv "/sql/store/driver" "" }}
sql.store.url       = {{ getv "/sql/store/url" "" }}
sql.store.user      = {{ getv "/sql/store/user" "" }}
sql.store.password  = {{ getv "/sql/store/password" "" }}
