// Buttons
// =====================================================================================================================

// general
.cm-button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: 3px solid #919191;
  background-color: #919191;
  color: #ffffff;
  padding: 0;

  @include breakpoint(xs) {
    font-size: 1.125rem;
    line-height: 2.26667rem;
  }

  &__icon {
    font-size: 1.25rem;
    width: 2rem;
    height: 1em;

    @include breakpoint(xs) {
      font-size: 2.5333rem;
    }
  }

  &--with-text {
    .cm-button {
      &__icon {
        @include center-absolute();
      }
      &__text {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  &__text {
    padding: 0 21px;
    display: inline-block;
  }

  &--linked .cm-button__text {
    padding-left: 0;
    padding-right: 0;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    background-color: #80A3BF;
    border-color: #80A3BF;
    color: #ffffff;
  }

  &:active {
    background-color: #5B7F9B;
    border-color: #5B7F9B;
    color: #ffffff;
  }

  // button disabled
  &--disabled {
    color: #dbdbdb;
    &:hover {
      background-color: #919191;
      border-color: #919191;
    }
  }

  // button loading (waitung for ajax response)
  &--loading {
    background-color: #5B7F9B;
    border-color: #5B7F9B;
    cursor: progress;

    .cm-button__icon {
      background: url("../../img/loader_small.gif") no-repeat center center;
      &:before {
        content: "";
      }
    }
  }

  // button primary
  &--primary {
    background-color: #b54850;
    border-color: #b54850;
    color: #ffffff;

    &:hover,
    &:active {
      background-color: #e30613;
      border-color: #e30613;
      color: #ffffff;
    }
  }

  &--shadow {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  }

  // groups
  &-group {
    display: block;
    text-align: right;
    font-size: 0;

    &__button {
      font-size: 1rem;
      max-width: 100%;
      vertical-align: top;
    }

    &--linked {
      width: 100%;
    }

    &--default .cm-button-group__button,
    &--linked .cm-button-group__button {
      display: block;
      width: 100%;
    }

    &--overlay {
      text-align: center;
    }
  }
}

@include breakpoint(xs) {

  .cm-button-group--default .cm-button-group__button + .cm-button-group__button {
    margin-top: 8px;
  }

  .cm-button-group--equal .cm-button-group__button {
    display: none;
  }

  .cm-button-group--overlay .cm-button-group__button {
    display: none;
  }
}

@include breakpoint("lg-and-up") {
  // button
  .cm-button {
    font-size: 1.25rem;
    line-height: 2.13333rem;
    transition: background 0.5s ease-in-out 0s, border-color 0.5s ease-in-out 0s;
  }

  .cm-button--linked-large .cm-button__text {
    padding-left: 0;
    padding-right: 0;
  }

  // button groups
  .cm-button-group--default .cm-button-group__button {
    display: inline-block;
    width: auto;
  }

  .cm-button-group--default .cm-button-group__button + .cm-button-group__button,
  .cm-button-group--equal .cm-button-group__button + .cm-button-group__button {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .cm-button-group--linked-large {
    width: 100%;
  }

  .cm-button-group--linked-large .cm-button-group__button {
    display: block;
    width: 100%;
  }

}

@include breakpoint(sm) {
  .cm-button {
    font-size: 1.125rem;
    line-height: 2.26667rem;
  }

  .cm-button-group--overlay .cm-button-group__button {
    display: none;
  }
}

@include breakpoint(sm, landscape) {

  /* -- button ------------------------------------------------------------------------------------------------------ */
  /* groups */
  .cm-button-group--default .cm-button-group__button {
    display: inline-block;
    width: calc(50% - 5px);
  }

  .cm-button-group--default .cm-button-group__button:nth-child(2n) {
    margin-left: 10px;
  }

  .cm-button-group--equal .cm-button-group__button:nth-child(n+2) {
    margin-left: 8px;
  }

  .cm-button-group--equal .cm-button-group__button:nth-child(n+2) {
    display: none;
  }
}

@include breakpoint(sm, portrait) {

  /* --- button ----------------------------------------------------------------------------------------------------- */
  .cm-button-group--default .cm-button-group__button + .cm-button-group__button {
    margin-top: 10px;
  }

  .cm-button-group--equal .cm-button-group__button:nth-child(n+2) {
    margin-left: 10px;
  }

  .cm-button-group--equal .cm-button-group__button:nth-child(n+2) {
    display: none;
  }
}
