// wcs vars
// content
$wcs-content-margin-top: 50px;

// controls
$wcs-control-width: 24px;
$wcs-control-height: 24px;

// buttons
$wcs-shopping-button-height: 38px;
$wcs-primary-button-hover-background-color: #4C4C4C;
$wcs-primary-button-select-hover-background-color: #EEEEEE;

// border
$wcs-border-color-grey-01: #E5E5E5;
