@if $cm-include-taxonomy-explorer-panel {
  $_block: "cm-taxonomy-explorer-panel";
  .#{$_block} {

    &__root {
      background-color: $cm-grid-panel-background-color;
    }

    &__root,
    &__non-root {
      border-right: 1px solid $cm-apps-grey-500;

      > .#{$prefix}panel-bodyWrap > .#{$prefix}grid-body {
        border: none;
      }
    }

    &__form {
      background-color: $cm-document-form-background-color;
    }
  }
}
