@if $cm-include-taxonomy-explorer-column {

  .cm-column-entry {
    font-weight: $cm-font-weight-bold;
    white-space: pre-wrap;
    word-wrap: break-word;

    &--empty {
      font-style: italic;
    }

    &--leaf {
      font-weight: $cm-font-weight;
    }

    &--marked-for-copy {
      color: $cm-grey-5;

      .#{$prefix}grid-item-selected & {
        color: $cm-grey-1;
      }
    }

    &--not-extendable {
      color: $cm-grey-0;
      font-weight: $cm-font-weight;
      font-style: italic;
    }
  }
}
