# required for workflowconverter in case of custom role mappings
workflow.map-role.translation-manager-role  = {{ getv "/workflow/map/role/translation/manager/role" "translation-manager-role" }}
workflow.map-role.administratoren           = {{ getv "/workflow/map/role/administratoren" "administratoren" }}
workflow.map-role.approver-role             = {{ getv "/workflow/map/role/approver/role" "approver" }}
workflow.map-role.composer-role             = {{ getv "/workflow/map/role/composer/role" "composer" }}
workflow.map-role.publisher-role            = {{ getv "/workflow/map/role/publisher/role" "publisher" }}
