// Variables

$cm-screen-max: 1200px;
$cm-screen-sm-min: 768px;
$cm-screen-lg-min: $cm-screen-max;

$cm-grid-gutter-width: 20px;
$cm-inline-content-width: 70%;

$cm-text-color: #222222;
$cm-text-color-light: #FFFFFF;

$cm-page-background-color: #FFFFFF;

$cm-main-color: #5192C3;
$cm-main-color-light: #5791C7;
$cm-main-color-hover: #50A3E1;

$cm-main-color-grey-light: #C9CECE;
$cm-main-color-grey: #A1A1A1;
$cm-main-color-grey-dark: #767676;

$cm-mobile-nav-dropdown-bg: rgba(255, 255, 255, 0.2);

$cm-button-secondary-main-color: #C6C6C6;
