$cm-tag-padding-base-vertical: $cm-padding-base-vertical;
$cm-tag-padding-base-horizontal: $cm-padding-base-horizontal;
$cm-tag-padding-small-vertical: $cm-padding-small-vertical;
$cm-tag-item-background-color: palette(green);
$cm-tag-item-border-color: palette(green);
$cm-tag-item-color: #ffffff;
