// Variables

$cm-screen-max: 1200px;
$cm-screen-sm-min: 768px;
$cm-screen-lg-min: $cm-screen-max;

$cm-grid-gutter-width: 10px;

// Default text color
$cm-text-color: #373737;

$cm-padding-base-vertical: 10px;
$cm-padding-base-horizontal: 15px;
$cm-padding-small-vertical: 5px;
